# Mapbox token for train route maps
MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiYWRlbGFscmFmaXEiLCJhIjoiY2x4MDEwdmUyMDJ3YTJrczd2YmRvbGc1eiJ9.JUtRj0PX_ZSKzBvt9xagMg

# Train Tracker Backend API
API_BASE_URL=https://traintracker-1.onrender.com
