# Mapbox token for train route maps
MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiYWRlbGFscmFmaXEiLCJhIjoiY211cHM3NWkxMDN0eDJ4cjR2a2tneTZxYyJ9.bME8qejxp8HoB2ujca_0uw

# Train Tracker Backend API
API_BASE_URL=https://traintracker-1.onrender.com
