<div class="h-screen flex flex-col bg-[#004BAC] text-white overflow-hidden">

    <!-- MAIN WRAPPER -->
    <div class="flex-1 flex flex-col min-h-0">

        <!-- CONTENT -->
        <div class="flex-1 flex flex-col overflow-hidden pl-2 min-h-0">

            <!-- HEADER -->
            <header class="flex items-center justify-center px-10 mt-6">
                <app-autocomplete class="text-red-500" icon="search" placeholder="Zoek een station..."
                    (stationSelected)="selectStation($event)">
                </app-autocomplete>
            </header>

            <!-- ERROR -->
            @if (errorMessage) {
            <div class="px-10 pt-3 text-red-500">
                ⚠ {{ errorMessage }}
            </div>
            }

            <!-- INNER CONTENT AREA -->
            <div class="flex-1 flex flex-col min-h-0">

                <!-- TOP INFO BAR -->
                <div class="mb-0 flex items-center justify-between">

                    <!-- TIME -->
                    <div class="w-20 font-semibold text-base md:text-lg lg:text-xl">

                        {{ currentTime | date:'HH' }}

                        @if (showColon) {
                        :
                        } @else {
                        <span class="opacity-0">:</span>
                        }

                        {{ currentTime | date:'mm' }}
                    </div>

                    <!-- CENTER -->
                    <div class="text-white-300 font-medium text-sm sm:text-base md:text-lg lg:text-xl">
                        Vertrek van {{ selectedStation }}
                    </div>

                    <!-- LOGO -->
                    <div>
                        <img src="images/logo_B.png" alt="Train logo"
                            class="h-8 sm:h-10 md:h-12 w-auto object-contain" />
                    </div>

                </div>

                <!-- TABLE -->
                <div class="flex-1 overflow-y-auto overflow-x-hidden min-h-0">

                    @for (row of rows; track row.vehicleInfoShortname; let first = $first) {

                    <div class="
                        grid
                        grid-cols-[2fr_6fr_2fr_1fr]
                        gap-x-3
                        text-left
                        border-t
                        border-white/20
                        hover:bg-white-900
                        transition
                    ">

                        <!-- TIME -->
                        <div class="py-2 flex flex-col sm:flex-row sm:items-center sm:gap-3">

                            <div class="font-semibold whitespace-nowrap flex flex-col">

                                <div class="w-20 font-semibold text-base md:text-lg lg:text-xl whitespace-nowrap">
                                    {{ row.departureTime | date:'HH : mm' }}
                                </div>
                               

                                @if (row.delayMinutes > 0) {
                                <div class="mt-1 text-xs bg-red-500 inline-block px-2 py-0.5 rounded w-fit">
                                    +{{ row.delayMinutes }} min
                                </div>
                                }

                            </div>

                            <div class="whitespace-nowrap mt-1 sm:mt-0">

                                @switch (row.displayStatus) {

                                @case ('geannuleerd') {
                                <span class="text-xs bg-red-500 px-1 py-1 rounded inline-block">
                                    Rijdt niet
                                </span>
                                }

                                @case ('aan perron') {
                                <span>aan perron</span>
                                }

                                @case ('komt aan') {
                                <span>komt aan</span>
                                }

                                }

                            </div>

                        </div>

                        <!-- VIA -->
                        <div class="py-2 min-w-0 overflow-hidden">

                            <div class="flex flex-col sm:flex-row sm:items-center gap-1 sm:gap-2 min-w-0">

                                <span class="text-yellow-400 font-semibold shrink-0 whitespace-nowrap">
                                    {{ row.directionName }}
                                </span>

                                @if (row.stops.length > 0) {

                                <div class="flex-1 min-w-0 overflow-hidden whitespace-nowrap">

                                    <div class="text-white-400 whitespace-nowrap">

                                        <span class="sm:hidden">

                                            @if(row.stops.length > 2) {
                                            @if (isSecondPartVisible[$index]) {
                                            {{ getSecondPart(row.stops) }}
                                            } @else {
                                            via {{ getFirstPart(row.stops) }}
                                            }
                                            } @else {
                                            via
                                            @for(stop of row.stops; track stop.station; let last = $last){
                                            <span>
                                                {{ stop.station }}{{ !last ? ',' : '' }}
                                            </span>
                                            }
                                            }

                                        </span>

                                        <span class="hidden sm:inline">
                                            via
                                            @for(stop of row.stops; track stop.station; let last = $last){
                                            <span>
                                                {{ stop.station }}{{ !last ? ',' : '' }}
                                            </span>
                                            }
                                        </span>

                                    </div>

                                </div>

                                }

                            </div>

                        </div>

                        <!-- TRAIN -->
                        <div class="py-2 whitespace-nowrap">
                            {{ row.vehicleInfoShortname }}
                        </div>

                        <!-- PLATFORM -->
                        <div class="py-2 whitespace-nowrap">

                            @if (row.platform) {
                            <span class="font-semibold">
                                {{ row.platform }}
                            </span>
                            } @else {
                            <span class="text-white-500">—</span>
                            }

                        </div>

                    </div>

                    }

                </div>

            </div>

        </div>

    </div>

    <!-- MAP -->
    <div class="map-wrapper">
        <app-map [latitude]="latitude" [longitude]="longitude" [stationName]="selectedStation">
        </app-map>
    </div>

</div>