<!-- liveboard.html -->

<div class="bg-[#004BAC] text-white min-h-screen flex flex-col ">

    <!-- HEADER -->
    <header class="relative flex items-center justify-center px-10 mt-6 z-50">
        <app-autocomplete class="text-red-500" icon="search" placeholder="Zoek een station..."
            (stationSelected)="selectStation($event)">
        </app-autocomplete>
    </header>

    <!-- ERROR -->
    @if (errorMessage) {

    <div class="px-10 pt-3 text-red-500">
        ⚠ {{ errorMessage }}
    </div>

    }

    <!-- CONTENT -->
    <div class="flex-1 px-10 py-0">

        <!-- Top Info Bar -->
        <div class="mb-0 flex items-center justify-between">

            <!-- Current Time -->
            <div class="w-20  font-semibold text-sm sm:text-base md:text-lg lg:text-xl">

                {{ currentTime | date:'HH' }}

                @if (showColon) {
                :
                } @else {
                <span class="opacity-0">:</span>
                }

                {{ currentTime | date:'mm' }}

            </div>

            <!-- Center -->
            <div class="text-white-300 font-medium  text-sm sm:text-base md:text-lg lg:text-xl">
                Vertrek <span class="hidden sm:inline">van {{selectedStation }}</span>
            </div>

            <!-- Logo -->
            <div>
                <img src="images/logo_B.png" alt="Train logo" class="h-8 sm:h-10 md:h-12 w-auto object-contain" />
            </div>

        </div>

        <!-- Table -->
        <div class="relative z-0 max-h-[20] md:max-h-[30vh] overflow-y-auto scroll  ">
            <table class="w-full table-fixed text-left mb-5 ">
                <tbody>
                    @for (row of rows; track row.vehicleInfoShortname; let first = $first) {

                    <tr class="py-2 whitespace-nowrap align-top min-w-0 border-b border-white-800 hover:bg-white-900 transition text-xs sm:text-sm md:text-base lg:text-lg"
                        [class.border-t]="first" [class.border-white-700]="first">
                        <td class="py-2 font-semibold text-xs sm:text-sm md:text-base lg:text-lg">
                            
                                {{ row.departureTime | date:'HH : mm' }}
                           
                            <!-- delay -->
                            @if (row.delayMinutes > 0) {

                            <p class="text-white bg-red-500 inline-block  px-1 rounded">
                                +{{ row.delayMinutes }} min
                            </p>

                            }
                        </td>

                        <!-- Status -->
                        <td class="px-1 py-2 align-top min-w-0 text-xs sm:text-sm md:text-base lg:text-lg">
                            <div class="text-white font-semibold">

                                @if (row.displayStatus === 'geannuleerd') {

                                <span class="bg-red-500 px-2 py-1 rounded inline-block">
                                    Rijdt niet
                                </span>

                                } @else if (row.displayStatus === 'aan perron') {
                                <span >
                                    aan perron
                                </span>
                                } @else if (row.displayStatus === 'komt aan') {
                                <span >
                                    komt aan
                                </span>
                                }
                            </div>
                        </td>

                        <!-- Destination + Stops -->
                        <td class=" px-1 py-2 align-top min-w-0">

                            <div class="flex font-semibold items-center gap-2 overflow-hidden min-w-0 text-xs sm:text-sm md:text-base lg:text-lg">

                                <!-- direction -->
                                <span class="shrink-0 font-semibold text-yellow-400">
                                    {{ row.directionName }}
                                </span>

                                <!-- via scrolling -->
                                @if (row.stops.length > 0) {

                                <div class="overflow-hidden whitespace-nowrap flex-1" #viaContainer>

                                    <div class="inline-block via-scroll text-sm text-white-400" #viaText
                                        [class.animate-via]="overflowMap[$index]">

                                        via

                                        @for (stop of row.stops; track stop.station; let last = $last) {

                                        <span>

                                            {{ stop.station }}

                                            @if (!last) {
                                            ,
                                            }

                                        </span>

                                        }

                                    </div>

                                </div>

                                }

                            </div>

                        </td>

                        <!-- Train -->
                        <td class="w-25 py-2">
                            {{ row.vehicleInfoShortname }}
                        </td>

                        <!-- Platform -->
                        <td class="py-2 text-xs sm:text-sm md:text-base lg:text-lg">

                            @if (row.platform) {

                            <span class="font-semibold">
                                {{ row.platform }}
                            </span>

                            } @else {

                            <span class="text-white-500">
                                -
                            </span>

                            }

                        </td>

                    </tr>

                    }

                </tbody>

            </table>
        </div>
    </div>

</div>

<!-- MAP -->
<app-map [latitude]="latitude" [longitude]="longitude" [stationName]="stationName">
</app-map>